@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}
p, input, div {
    font-family: Montserrat,sans-serif;
}
h1, h2, h3, h4, h5, strong {
    font-family: Montserrat-Bold,sans-serif;
}
.cnpc{
    max-width: 80%;
    height: auto;
    max-height: 5em;
    margin-top: 1rem;
}
.input-field label {
    color: black;
}

.corto{
    display: none;
}

.guinda {
    background-color: #9D2449 !important;
}
.verde-oscuro {
    background-color: #0C231E !important;
}

@media(max-width: 500px) {
    .niceTitle{
        font-size: medium;
    }
    #headersTable{
        font-size: 12px;
        font-weight: bold !important;
    }
    .corto{
        display: block;
    }
    .comun{
        display: none;
    }
  }

.alerted {
    color: red;
    -webkit-animation-name: alerted; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: alerted;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes alerted {
    0%   {color: red;}
    100% {color: yellow;}
}
@keyframes alerted {
    0%   {color: red;}
    100% {color: yellow;}
}