@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}
p, input, div, label, span, button {
    font-family: Montserrat,sans-serif;
}
h1, h2, h3, h4, h5, strong {
    font-family: Montserrat-Bold,sans-serif;
}
.cnpc{
    max-width: 80%;
    height: auto;
    max-height: 5em;
    margin-top: 1rem;
}
.input-field label {
    color: black;
}
input::placeholder {
    color: #0C231E !important;
}
.corto{
    display: none;
}
table.highlight > tbody > tr:hover {
    background-color: rgb(175, 175, 175);
}

.guinda {
    background-color: #9D2449 !important;
}
.verde-oscuro {
    background-color: #0C231E !important;
}

.edit{
    position: relative;
    left: -25px;
    background-color:#c09c65;
}
.edit:hover{
    background-color:#0C231E;
}

.input-field .prefix.active{
    color: #285C4D !important;
}

[type="radio"]:checked+span:after {
    background-color: #9D2449 !important;
    border: #9D2449 !important;
}

[type="radio"]:checked+span {
    color: #9D2449 !important;
    border: #9D2449 !important;
}

.mainIcons{
    color: #285C4D !important;
}

.nomenclatura{
    font-family: serif;
    color: red;
    font-weight: bold;
}
ol li{
    padding-left:20px;
}
.titleMex {
    background: linear-gradient(90deg, rgba(105,26,49,1) 0%, rgba(157,36,73,1) 50%, rgba(105,26,49,1) 100%);
    padding: 10px;
    color: white;
    text-align: center;
}

@media(max-width: 500px) {
    .niceTitle{
        font-size: medium;
    }
    #headersTable{
        font-size: 12px;
        font-weight: bold !important;
    }
    .corto{
        display: block;
    }
    .comun{
        display: none;
    }
    .edit{
        position: unset;
    }
  }

.alerted {
    color: red;
    -webkit-animation-name: alerted; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: alerted;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes alerted {
    0%   {color: red;}
    100% {color: yellow;}
}
@keyframes alerted {
    0%   {color: red;}
    100% {color: yellow;}
}